* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  color: $color-type;
  font-family: $type-first;
  letter-spacing: .3px;
  position: relative;
  background: $color-five;

  &::-webkit-scrollbar {
    width: auto;

    &-thumb {
      background-color: $color-five;
      box-shadow: inset 0 0 3px #000;
    }

    &-track {
      background-color: $color-five;
    }

    &-button {
      background-color: $color-five;
      box-shadow: inset 0 0 3px #000;
    }
  }
}



h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-type;
  cursor: crosshair;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: size(16);
  font-family: $type-first;
  color: $color-type;

}