@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


$type-first: 'Fira Sans', sans-serif;

$color-type: #210808;

$color-one: #8A2020;
$color-two:#EFBDBD;
$color-four: #FAEBEB;

$color-five: #8A5454;
$color-six: #A46161;

$color-eight: #551717;
