@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Serif&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

$type-first: 'Fira Sans', sans-serif;
$type-second: 'Noto Serif', serif;
$type-third: 'Tangerine', cursive;
$type-third2: 'Petit Formal Script', cursive;

$color-type: #210808;

$color-one: #8A2020;
$color-two:#EFBDBD;
$color-three: #E48B8B;
$color-four: #FAEBEB;

$color-five: #8A5454;


//dark mode

$color-six: #210E0E;
$color-seven: #2D2626;
$color-eight: #551717;
$color-nine: #403535;